.custom-calendar .react-calendar__tile:disabled {
  background-color: #f3f4f6;
  color: #9ca3af;
  cursor: not-allowed;
  border-radius: 3px;
  padding: 0.5px;
}

.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
}

.booked-date {
  background: #ffe6e6 !important;
  color: #b30000 !important;
  border-radius: 8px;
  font-weight: bold;
}

.highlight{
  background-color: #5b74f7;
  border-radius: 3px;
}